
# scratchpad and todo files... local working files
/scratch.md
/TODO.md

# local vscode settings
.vscode/

# downloaded design resource files
#  - used resources will be added to project
/design/resources/*