/* Main body font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700');

/* Headings - hand writing font */
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display');

/* Icons - mini set of FontAwesome Icons recompiled into a font */
@import url('../assets/icons/fa-mini-embedded.css');

/* Reset browser defaults */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 12px;
}

h2,
h3,
h4,
h5,
h6,
header   {
    font-family: 'Sedgwick Ave Display', 'Times New Roman', Times, serif;
    font-size: 12px;
}


/* Text Utility Classes */
.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}
