@import url("./colors.css");
@import url("./base.css");
@import url("./cards.css");
@import url("./buttons.css");
@import url("./figures.css");
@import url("./quotes.css");

/* Page Layout */
.container {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "share"
        "feat"
        "foot";
}

.page-header {
    grid-area: head;
}

.page-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 10px 0.5rem 10px;
    z-index: 1;
    background-color: var(--grey-1);
}

.page-main h2 {
    font-size: 1.5rem;
}

.post-head {
    display: grid;
    grid-template-areas:
        "post-title post-title post-title  post-avatar"
        "post-date  post-date  post-author post-author";
    gap: 0.5rem;
    align-items: end;
}

.post-title {
    grid-area: post-title;
    align-self: end;
    font-family: inherit;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: var(--color-1-3);
    text-shadow: 1px 1px 1px var(--grey-5-half);
}

.post-auth-img {
    grid-area: post-avatar;
    align-self: center;
    justify-self: right;
    margin-right: 10px;
}


.post-auth-img > img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 1px var(--grey-8), 1px 1px 1px var(--grey-8-half);
}

.post-date {
    grid-area: post-date;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 300;
    color: var(--grey-8);
}

.post-author {
    grid-area: post-author;
    justify-self: right;
    font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    color: var(--grey-8);
}


/** share on: social */
.post-share {
    width: 100%;
    box-sizing: border-box;
    grid-area: share;
    padding: 1rem 20px;
    background-color: var(--color-1-2);
    box-shadow: 1px 0 3px var(--grey-8-half);
    z-index: 5;
}


.post-share > .social-list {
    max-width: 760px;
    gap: 20px;
}

#share > li:first-child {
    flex: 1 1 0;
    align-self: last baseline;
}

.post-share p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    text-align: end;
    padding: 0;
    margin: 0;
    color: var(--color-1-4);
    text-shadow: 1px 1px 1px var(--grey-5-half);
}

/** Feature - related blog list */
.post-feature {
    grid-area: feat;
    z-index: 1;
    padding: 1rem 0;
    margin: 0 auto;
    background-color: var(--grey-2);
}


.post-feature > h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-2-3);
    text-shadow: 0 0 1px var(--color-2-5), 0 0 2px var(--color-2-4), 1px 1px 1px var(--grey-5-half);
}


.feature-box {
    /* TODO: Scroll controlled programatically via buttons */
    overflow: scroll;
    width: 100vw;
    box-sizing: border-box;
    padding: 1em 10px;
}


.feature-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.author-info {
    display: none;
}


.page-footer {
    grid-area: foot;
}


@media only screen and (min-width: 725px) {

    .container {
        grid-template-areas:
            "head  head  head"
            "left  main  right"
            "share share share"
            "feat  feat  feat"
            "foot  foot  foot";
        grid-template-columns: 1fr minmax(725px, 0.6vw) 1fr;
    }

    
    .page-main {
        padding: 1.5rem 20px 0.5rem 20px;
        gap: 1.5rem;
    }

      
    .post-head {
        grid-template-areas:
            "post-title post-author post-avatar"
            "post-title post-date   post-avatar";
        grid-template-columns: 1fr max-content max-content;
        column-gap: 20px;
    }
    
    .post-title {
        font-size: 2rem;
    }

    
    .post-auth-img > img {
        width: 40px;
        height: 40px;
        margin: 0;
    }
    
    
    .post-date {
        font-size: 1rem;
        justify-self: right;
    }

    
    .post-author {
        justify-self: right;
        font-size: 1.25em;
    }


    .feature-box {
        padding: 1em 20px;
        width: inherit;
    }


    .feature-list {
        gap: 20px;
    }
}

@media only screen and (min-width: 1100px) {

    .post-auth-img > img {
        width: 50px;
        height: 50px;
    }
    
    
    .post-title {
        font-size: 2.5rem;
    }


    .post-date {
        font-size: 1.1em;
    }

    
    .post-author {
        font-size: 1.3em;
    }


}


@media only screen and (min-width: 1280px) {

   .container {
        grid-template-areas:
            "head head head"
            "none main share"
            "none main author"
            "none main feat"
            "foot foot foot";
        grid-template-columns: minmax(256px, 1fr) minmax(min-content, 800px) minmax(256px, 1fr);
        grid-template-rows: repeat(3, max-content) 1fr max-content;
        justify-content: center;
    }

    .post-share {
        padding: 2rem 0 1rem 20px;
        background-color: var(--grey-2);
        box-shadow: 1px 0 3px var(--grey-8-half);
        z-index: 1;
    }
    
    
    .post-share > .social-list {
        width: 230px;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 0;

    }
    
    .post-share p {
        width: 230px;
        text-align: center;

    }

    post-share > .social-list {
        width: 230px;
        margin: 1px 13px;
        justify-content: space-between;
        gap: 0;
        padding: 0;
    }
    

    /** Show author info */
    .author-info {
        /* width: 290px; */
        grid-area: author;
        display: grid;
        grid-template-areas: 
            "a-head  a-head"
            "a-name  a-avatar"
            "a-title a-avatar"
            "a-org   a-avatar"
            "a-bio   a-bio";
        grid-template-columns: 176px 64px;
        grid-auto-rows: max-content;
        column-gap: 10px;
        row-gap: 0.5rem;
        /* padding: 20px; */
        background-color: var(--grey-2);
        z-index: 2;
    }

    .author-info > h3 {
        grid-area: a-head;
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: var(--color-2-3);
        text-shadow: 0 0 1px var(--color-2-5), 0 0 2px var(--color-2-4), 1px 1px 1px var(--grey-5-half);
    }

    .author-info > p {
        margin: 0 auto 0 20px;
    }

    .author-avatar {
        grid-area: a-avatar;
        justify-self: right;
    }


    .author-avatar > img {
        width: 64px;
        height: 64px;
        border-radius: 10px;
        box-shadow: 0 0 1px var(--grey-8), 1px 1px 1px var(--grey-8-half);
    }

    .author-name {
        grid-area: a-name;
        font-style: italic;
        color: var(--color-1-4);
    }

    .author-title {
        grid-area: a-title;
    }

    .author-org {
        grid-area: a-org;
    }

    .author-bio {
        grid-area: a-bio;
    }


    /** Feature - related blog list */
    .post-feature {
        padding: 2rem 0 2rem 20px;
        margin: 0;
        z-index: 2;
    }


    .post-feature > h2 {
        font-size: 2.5rem;
        width: 230px;
        margin: 1rem auto 1rem 0;
    }

    .feature-box {
        /* TODO: Add vertical scroll when box exceeds other content on page. HOW? */
        width: auto;
        padding: 0;
    }


    .feature-list {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        /* margin: 0.5rem 0; */
    }
}
