@import url("./colors.css");
@import url("./base.css");
@import url("./cards.css");
@import url("./buttons.css");


/* Page Layout */
.container {
    width: 100vw;
    display: grid;
    grid-template-areas:
        "head"
        "main"
        "share"
        "feature"
        "foot";
}

/* HEADER */
.page-header {
    grid-area: head;
}

.page-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 10px 0.5rem 10px;
    z-index: 1;
    background-color: var(--grey-1);
}

.post-head {
    display: grid;
    grid-template-areas:
        "post-title post-title post-title  post-avatar"
        "post-date  post-date  post-author post-author";
    gap: 0.5rem;
    align-items: end;
    margin-right: 10px;
}

.post-title {
    grid-area: post-title;
    align-self: end;
    font-family: inherit;
    font-family: 'Montserrat';
    font-size: 1.5em;
    color: var(--color-1-3);
    text-shadow: 1px 1px 1px var(--grey-5-half);
}

.auth-img {
    grid-area: post-avatar;
    align-self: center;
    justify-self: right;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 1px var(--grey-8), 1px 1px 1px var(--grey-8-half);
}

.post-date {
    grid-area: post-date;
    font-size: 0.9em;
    font-style: italic;
    font-weight: 300;
    color: var(--grey-8);
}

.post-author {
    grid-area: post-author;
    justify-self: right;
    font-size: 1em;
    font-style: italic;
    font-weight: 300;
    color: var(--grey-8);
}

.post-content {
    /* padding: 1rem 10px 0.5rem 10px; */
}

.post-content p {
    /* margin: 0 10px 1em 10px; */
}


/* TODO: Add center, left-wrap, right-wrap classes for flow around images? */
.post-figure {
    /* display: block; */
    /* max-width: 100%; */
    /* padding: 0 10px; */
    margin: 1em 0;
}

.post-figure img {
    display: block;
    max-width: 500px;
    width: 80vw;
    max-height: 100vw;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--grey-2);
    box-shadow: 0 0 2px var(--grey-5-half), 1px 1px 1px var(--grey-8-half);
}

.post-figure figcaption {
    text-align: center;
    line-height: 1rem;
    margin: 1rem auto;
    font-style: italic;
    color: var(--color-1-3);
    font-weight: 600;
    text-shadow: 1px 1px 0px var(--grey-5-half);
}


/* quotes */
.post-quote {
    box-shadow: 0 0 3px var(--grey-5-half), 0 0 3px var(--grey-5-half), 0 0 3px var(--grey-5-half), 1px 1px 1px var(--grey-8-half);
    width: 100%;
    border-top: 1px solid var(--grey-1);
    border-bottom: 1px solid var(--grey-1);
    margin: 1.5em 0 1em 0;
}


.post-quote p {
    text-align: center;
    color: var(--color-1-4);
    margin: 0.5rem auto;
}


.post-quote p::before {
    content: '"';
}


.post-quote p::after {
    content: '"';
}


.post-quote footer {
    text-align: right;
    margin: 0 20px 5px auto;
}


.post-quote-new {
    /* box-shadow: 0 0 3px var(--grey-5-half), 0 0 3px var(--grey-5-half), 0 0 3px var(--grey-5-half), 1px 1px 1px var(--grey-8-half); */
    width: 100%;
    /* border-top: 1px solid var(--grey-1);
    border-bottom: 1px solid var(--grey-1); */
    margin: 1.5em 0 1em 0;
}

.post-quote-new > hr {
    border: 1px solid var(--grey-5-half);
}


.post-quote-new > hr:first-child {
    box-shadow: 0px -0.5px 1px var(--grey-5-half);
}


.post-quote-new > hr:last-child {
    box-shadow: 0px 0.5px 1px var(--grey-5-half);
}

.post-quote-new > p {
    text-align: center;
    color: var(--color-1-4);
    margin: 0.5rem auto;
}


.post-quote-new > p ::before {
    content: '"';
}


.post-quote-new p::after {
    content: '"';
}


.post-quote-new footer {
    text-align: right;
    margin: 0 20px 5px auto;
}


/** share on: social */
.post-share {
    grid-area: share;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 20px;
    /* align-items: center; */
    padding: 1rem 0;
    background-color: var(--color-1-2);
    box-shadow: 1px 0px 3px var(--grey-8-half);
    z-index: 5;
}

.post-share p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 700;
    padding: 0;
    margin: 0;
    /* text-align: left; */
    color: var(--color-1-4);
    text-shadow: 1px 1px 1px var(--grey-5-half);
    /* align-self: end; */
}


/** Feature - related blog list */
.post-feature {
    grid-area: feature;
    z-index: 1;
    background-color: var(--grey-2);
    padding: 2rem 0 1rem 0;
}


.post-feature > h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-2-3);
    text-shadow: 0 0 1px var(--color-2-5), 0 0 2px var(--color-2-4), 1px 1px 1px var(--grey-5-half);
}


.feature-box {
    /* TODO: Scroll controlled programatically via buttons */
    overflow: scroll;
    width: 100vw;
    padding: 1em 10px;
}


.feature-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.author-info {
    display: none;
}


/** Footer */
.page-footer {
    grid-area: foot;
    /*TODO: little hack to get sizing looking better until there is more footer content */
    height: 5rem;
    padding-top: 1.5rem;
}


@media only screen and (min-width: 725px) {

    body {
        background-color: green;
    }

    .page-title {
        font-size: 3.5rem;
    }

    .nav-link {
        font-size: 1.5rem;
    }


    .container {
        grid-template-areas:
            "head head    head"
            "left main    right"
            "left share   right"
            "left feature right"
            "foot foot    foot";
        grid-template-columns: 1fr minmax(725px, 0.6vw) 1fr;
    }

    
    .page-main {
        padding: 1.5rem 20px 0.5rem 20px;
        gap: 1.5rem;
    }

      
    .post-head {
        grid-template-areas:
            "post-title post-author post-avatar"
            "post-title post-date   post-avatar";
        grid-template-columns: 1fr max-content max-content;
        column-gap: 20px;
    }
    
    .post-title {
        font-size: 2rem;
    }

    
    .auth-img {
        width: 40px;
        height: 40px;
    }
    
    
    .post-date {
        font-size: 1em;
        justify-self: right;
    }

    
    .post-author {
        justify-self: right;
        font-size: 1.25em;
    }


    .float-left {
        float: left;
        margin-right: 20px;
    }

    .float-right {
        float: right;
        margin-left: 20px;
    }

    .float-left > img,
    .float-right > img {
        max-width: 370px;
        max-height: 50vw;
    }

    .float-left > figcaption,
    .float-right > figcaption
    {
        display: block;
    }


    .feature-box {
        padding: 1em 20px;
        width: inherit;
    }


    .feature-list {
        gap: 20px;
    }
}

@media only screen and (min-width: 1100px) {

    body {
        background-color: red;
    }

    .page-title {
        font-size: 4rem;
    }

    .nav-link {
        font-size: 2rem;
    }


    .auth-img {
        width: 50px;
        height: 50px;
    }
    
    
    .post-title {
        font-size: 2.5rem;
    }


    .post-date {
        font-size: 1.1em;
    }

    
    .post-author {
        font-size: 1.3em;
    }


}


@media only screen and (min-width: 1280px) {

    body {
        background-color: blue;
    }


    .container {
        grid-template-areas:
            "head head head"
            "none main share"
            "none main author"
            "none main feature"
            "foot foot foot";
        grid-template-columns: minmax(256px, 1fr) minmax(min-content, 800px) minmax(256px, 1fr);
        grid-template-rows: repeat(3, max-content) 1fr max-content;
        justify-content: center;
    }

    .post-share {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0;
        padding: 1rem 0;
        background-color: var(--grey-2);
        box-shadow: 1px 0px 3px var(--grey-8-half);
        z-index: 1;
    }
    
    .post-share p {
        align-self: start;
        margin: 1rem 20px;
    }

    .social-list {
        width: 230px;
        margin: 1px 13px;
        justify-content: space-between;
        gap: 0;
        padding: 0;
    }
    

    /** Show author info */
    .author-info {
        /* width: 290px; */
        grid-area: author;
        display: grid;
        grid-template-areas: 
            "a-head  a-head"
            "a-name  a-avatar"
            "a-title a-avatar"
            "a-org   a-avatar"
            "a-bio   a-bio";
        grid-template-columns: 176px 64px;
        grid-auto-rows: max-content;
        column-gap: 10px;
        row-gap: 0.5rem;
        /* padding: 20px; */
        background-color: var(--grey-2);
        z-index: 2;
    }

    .author-info > h3 {
        grid-area: a-head;
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: var(--color-2-3);
        text-shadow: 0 0 1px var(--color-2-5), 0 0 2px var(--color-2-4), 1px 1px 1px var(--grey-5-half);
    }

    .author-info > p {
        margin: 0 auto 0 20px;
    }

    .author-avatar {
        grid-area: a-avatar;
        width: 64px;
        height: 64px;
        justify-self: right;
        border-radius: 10px;
        box-shadow: 0 0 1px var(--grey-8), 1px 1px 1px var(--grey-8-half);
    }

    .author-name {
        grid-area: a-name;
        font-style: italic;
        color: var(--color-1-4);
    }

    .author-title {
        grid-area: a-title;
    }

    .author-org {
        grid-area: a-org;
    }

    .author-bio {
        grid-area: a-bio;
    }


    /** Feature - related blog list */
    .post-feature {
        z-index: 2;
        padding-bottom: 2rem;
    }


    .post-feature > h2 {
        font-size: 2.5rem;
        width: 230px;
        margin: 0 auto 0.5rem 20px;
    }

    .feature-box {
        /* TODO: Add vertical scroll when box exceeds other content on page. HOW? */
        width: auto;
    }


    .feature-list {
        flex-direction: column;
        gap: 15px;
        padding: 0;
        /* margin: 0.5rem 0; */
    }
}




