
.icon-tw:before { content: '\e800'; } /* '' */
.icon-arrow-up-circle-norm:before { content: '\e801'; } /* '' */
.icon-arrow-circle-up:before { content: '\e802'; } /* '' */
.icon-fb:before { content: '\e803'; } /* '' */
.icon-ln:before { content: '\e805'; } /* '' */
.icon-angle-double-up:before { content: '\e806'; } /* '' */
.icon-angle-up:before { content: '\e807'; } /* '' */
.icon-github:before { content: '\e808'; } /* '' */
.icon-instagram-open:before { content: '\e809'; } /* '' */
.icon-instagram:before { content: '\e80a'; } /* '' */